.main-container{
    background-color:#e6ffee;
    height: 100vh;
}
.card{
    margin-left: 50px;
   height: 350px;
   width: 300px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 2px 5px 10px 5px black;
}
.title{
    font-size: 25px;
    font-weight: bold;
    margin: 0px
}
.description{
 font-size: 20px;
 margin: 0px;

}
.price{
    font-size: 20px;
    font-weight: bold;
}
.main-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}


